@model Article

@{
    ViewBag.Title = "Makale ekle";
}
@if (ViewData["Categories"] != null)
{
    using (Html.BeginForm("Create", "Article", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Makale Ekle</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Text, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Text, new { @class = "form-control", id = "editor1" })
                    @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.IsActive, new { @class = "checkbox" })
                    @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Category, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @{
                        //var categories1 = ViewData["Categories"] as IEnumerable<Category>;
                        var categories = ViewData["Categories"] as IEnumerable<Category>;
                        var categoriesList = new List<SelectListItem>();
                        foreach (var item in categories)
                        {
                            categoriesList.Add(new SelectListItem()
                            {
                                Text = item.CategoryName,
                                Value = item.Id.ToString()
                            });
                        }
                    }
                    @*@Html.DropDownListFor(model => model.CategoryId, new SelectList(categories1, "Id", "CategoryName"), new { @class = "form-control" })*@

                    @Html.DropDownListFor(model => model.CategoryId, categoriesList, new { @class = "form-control" })

                    @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Resim seçiniz</label>
                <div class="col-md-10">
                    <br />
                    <input type="file" name="uploadPicture" />
                </div>

            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Ekle" class="btn btn-light" />
                </div>
            </div>
        </div>
    }
}
else
{
    <div class="alert-info">
        Hiç kategori yok; Makale eklemek için kategori eklenmeli.
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section scripts{
    <script src="~/ckeditor/ckeditor.js"></script>
    <script src="~/Scripts/main.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}




